body {
    display: flex;
    height: 100vh;
    position: relative;
    margin: 0;
}



h1,
h4 {
    font-style: italic;
}

h4 {
    color: gray;
}


div {
    width: 300px;
    margin: 50px auto;
}


div p {
    font-family: roboto;
    color: rgb(10, 10, 10);
}

footer {
    position: absolute;
    bottom: 0;
    width: 100vw;
}

footer ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;

}

ul li {
    width: 25%;
    height: 20px;
    border: 2px solid;

}